[bumpversion]
current_version = 1.0.22
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:data_management/programmatically_connect_your_data/onboarding_jupyter_notebook_app/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:data_management/use_dataloop_example/onboarding_image_dataset_animals/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:annotation_platform/annotation_workflow/onboarding_preprocess_annotation_workflow/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:annotation_platform/annotation_workflow/onboarding_qa_sampling_workflow/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:annotation_platform/annotation_workflow/onboarding_text_annotation_workflow/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:annotation_platform/annotation_tools/onboarding_image_dataset_animals/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:mlops/train_and_evaluate/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

